/* --MAIN-- */

h2{
    margin:auto;
    margin-top:10%;
    color:white;
    font-weight:500;
    padding:1%;
    width:50%;
    border-bottom:1px solid white;
  
  }
  .content{
    width:90%;
    font-size:0.9em;
    font-weight:400;
    background:white;
    padding:3%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
  }
  @media (max-width:800px){
    h2{
    margin-top:15%;
    }
    .content{
      width:80%;
  
    }
  }
  .mainImage{
    width:30%;
    height:auto;
    margin:auto;
    margin-bottom:5vh;
  }
  @media(max-width:799px){
    .mainImage{
      width:90%;
    }
  }