  /* --CALENDAR-- */
  .closestDays{
    display:flex;
    flex-direction: row;
    width:70%;
    align-items: center;
    height:10rem;
    justify-content: center;
    margin:auto;
  }
  .closestDays div{
    height:5rem;
    border:1px solid gray;
    border-radius:10px;
    flex:2;
    margin:10px;
    transition:0.2s;
    display:flex;
    flex-direction: column;  
  }
  .closestDays div:hover{
    height:7rem;
    margin-top:2.6rem;
    cursor:pointer;
  }
  .closestDays div p {
    all:unset;
    border:none;
  }
  .calendar{
    width:80%;
    min-height:10rem;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    margin:auto;
    border:1px solid;
    grid-gap: 1px;
    justify-self: center; 
    box-sizing: border-box;
    padding:1px;
    
  }
  .calendar div .calendarTile{
    border-right:1px solid;
    border-bottom:1px solid;
    cursor:pointer;
    border-radius:10px;
    min-height:4rem
  }
  .calendar div .calendarTile:hover{
    background:#ff6363;
    transition:0.4s;
  }
  .calendar div .hiddenMenu{
    
    position:absolute;
    background:#ff6363;
    border:1px solid black;
    z-index:9;
    color:white;
    border-radius:10px;
    left:20%;
    right:20%;
    min-height:40%;
    top:80%;
  
  }
  .calendar div .hiddenMenu .close{
    position:absolute;
    right:3%;
    top:3%;
    text-align:right;
    z-index:10;
    transition:0.15s;
  }
  .calendar div .hiddenMenu .close:hover{
    color:#000000;
  }
  