*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}
body{
  background-color: #282c34;

}

/* --GLOBAL STYLES-- */
button{
  background: #61dafb;
  width:20%;
  height:3em;
  margin:auto;
  line-height:2em;
  float:left;
  border-radius:20px;
  transition:0.2s;
  border:none;
  -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  margin-top:0.3em;
}
button:hover{
  transform:scale(110%);
  cursor:pointer;
}
form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top:2%;
}
p{
  padding-top:5%;
  color:white;
}
input{
  border:none;
  width:20%;
  line-height:2em;
  float:left;
  border-radius:10px;
  transition:0.2s;
  outline:none;
  padding:0.1em;
  font-size:0.8em;
  font-weight:200;
  margin:0.5em;
  -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
}

.hrefStyleOnly{
  all: unset;
  color: lightblue;
  font-size:0.9em;
  font-weight:300;
  text-decoration: underline;
}
.hrefStyleOnly:hover{
  transform:none;
  color: #85a6b1;
  cursor:pointer;
}
/* --HEADER STYLES-- */


.App-header ul{
  width:100%;
  height:3em;
  margin-bottom:10%;
}
.App-header ul li:first-child{
  right:30%;
  position:absolute;
}
.App-header ul li:nth-child(2){
  right:5%;
  position:absolute;
}
.App-header ul li:nth-child(3){
  left:5%;
  position:absolute;
}
.App-header ul li button{
  box-shadow:none;
  color:white;
  font-size: inherit;
  width:100%;
  height:90%;
  line-height:100%;
}

.App-header ul li button:hover{
  transform:none;
  cursor:pointer;
  font-size: inherit;
}
.App-header ul li {
  list-style: none;
  top:2em;
  background: #61dafb;
  width:20%;
  height:2em;
  line-height:2em;
  float:left;
  border-radius:20px;
  transition:0.2s;
    -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
    
}
.App-header ul li:hover{
  
  transform:scale(110%);
    -webkit-box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4); 
}
.App-header ul li a, .App-header ul li button a{
  color:white;
  text-decoration: none;
  display:block;
  
}
/* --INTRO STYLES-- */
.introParagraph{
  color:black;
}
.App-intro{
  transition:0.5s;
  
}
.App-intro .typing {
  display: flex;
  flex-direction: column;
  position:fixed;
  width:100%;
  min-height:100vh;
  color: black;
  background:white; 
  font-size: calc(10px + 4vmin);
  align-items: center;
  justify-content: center;
  z-index:9;
}
.typing h6{
  font-weight: 200;
  opacity:0;
  transform: translateY(100px);
  animation: fadeInUp 1000ms ease forwards;
}
/* --MAIN-- */
  h2{
    margin:auto;
    margin-top:10%;
    color:white;
    font-weight:500;
    padding:1%;
    width:50%;
    border-bottom:1px solid white;

  }
  .content{
    width:90%;
    font-size:0.9em;
    font-weight:400;
    background:white;
    padding:3%;
    margin:auto;
    margin-top:5%;
    margin-bottom:10%;
  }
  @media (max-width:800px){
    .content{
      width:80%;

    }
  }
  /* --LOGIN CONTAINER-- */
  .loginContainer{
    background:#ffffff30;
    min-height:80vh;
    z-index:0;
  }
  /* --FOOTER-- */
  .footer{
    background-color:#13151a;
    height:5em;
    color:white;
    font-size:0.8em;
    line-height:5em;
    border-top:groove 1px rgb(204, 202, 202);
 
  }
/* --ANIMATIONS-- */
@keyframes fadeInUp {
  100%{
    opacity:1;
    transform: translateY(0);

  }
}
