*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}
body{
  background-color: #282c34;

}

/* --GLOBAL STYLES-- */

form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top:2%;
}
p{
  padding-top:5%;
  color:white;
}

.hrefStyleOnly{
  all: unset;
  color: lightblue;
  font-size:0.9em;
  font-weight:300;
  text-decoration: underline;
}
.hrefStyleOnly:hover{
  transform:none;
  color: #85a6b1;
  cursor:pointer;
}
/* --HEADER STYLES-- */


.App-header ul{
  width:100%;
  height:3em;
  margin-bottom:11%;
  display:flex;
  flex-direction: row;
  margin-top:2em;

}
.App-header ul li{
  margin-left:8%;
  flex:5;
  height:3em;

}
.App-header ul li:nth-child(3){
  margin-left:10%;
  flex:3;
  margin-right:1%;
  
}
.App-header ul img{
  margin-left:2%;
  margin-right:2%;
  height:100%;

}
@media (max-width:800px){
  .App-header ul img{
    width:40px;
    height:40px;
  }
}


@media(max-width:800px){
  .App-header ul{
    font-size:1em;
    margin-top:1em;
    
  }
  .App-header ul li{
    margin-left:4%;
    flex:4;
    height:3em;
  
  }
  .App-header ul li:nth-child(3){
    margin-left:6%;
    flex:3;
    margin-right:1%;
    
  }
}
.App-header ul li button{
  background: #61dafb;
  width:100%;
  height:100%;
  font-size:inherit;
  color:white;
  line-height:2em;
  float:left;
  border-radius:20px;
  border:none;
  transition:0.2s;
}

.App-header ul li button:hover{
  transform:none;
  cursor:pointer;
  font-size: inherit;
}
.App-header ul li {
  list-style: none;
  top:2em;
  background: #61dafb;
  width:20%;
  height:2em;
  line-height:2em;
  float:left;
  border-radius:20px;
  transition:0.2s;
    -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
    
}
.App-header ul li:hover{
  
  transform:scale(110%);
    -webkit-box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 30px -1px rgba(0, 0, 0, 0.4); 
}
.App-header ul li a, .App-header ul li button a{
  color:white;
  text-decoration: none;
  display:block;
  
}

/* --INTRO STYLES-- */
.introParagraph{
  color:black;
}
.App-intro{
  transition:0.5s;
  
}
.App-intro .typing {
  display: flex;
  flex-direction: column;
  position:fixed;
  width:100%;
  min-height:100vh;
  color: black;
  background:white; 
  font-size: calc(10px + 4vmin);
  align-items: center;
  justify-content: center;
  z-index:9;
}
.typing h6{
  font-weight: 200;
  opacity:0;
  transform: translateY(100px);
  animation: fadeInUp 1000ms ease forwards;
}
/* --MAIN-- */
h2{
  margin:auto;
  margin-top:10%;
  color:white;
  font-weight:500;
  padding:1%;
  width:50%;
  border-bottom:1px solid white;

}
.content{
  width:90%;
  font-size:0.9em;
  font-weight:400;
  background:white;
  padding:3%;
  margin:auto;
  margin-top:5%;
  margin-bottom:10%;
}
@media (max-width:800px){
  .content{
    width:80%;

  }
}
.mainImage{
  width:60%;
  height:auto;
  margin:auto;
  margin-top:10vh;
  margin-bottom:10vh;
}
/* --LOGIN CONTAINER-- */
.loginContainer{
  background:#ffffff30;
  min-height:80vh;
  z-index:0;
}
.loginContainer input{
  border:none;
  width:20%;
  line-height:2em;
  float:left;
  border-radius:5px;
  transition:0.2s;
  outline:none;
  padding:0.1em;
  font-size:0.8em;
  font-weight:200;
  margin:0.5em;
  -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  
}
.loginContainer button:nth-child(3){   
  background: #61dafb;
  width:20%;
  height:3em;
  margin:auto;
  line-height:2em;
  float:left;
  border-radius:5px;
  transition:0.2s;
  border:none;
  -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.5);
  margin-top:0.3em;

}
.loginContainer button:nth-child(3):hover{
  transform:scale(110%);
  cursor:pointer;
}
/* --FOOTER-- */
.footer{
  background-color:#13151a;
  min-height:5em;
  margin-top:10em;
  color:white;
  font-size:0.8em;
  line-height:3em;
  border-top:groove 1px rgb(204, 202, 202);

}
/* APP */
.appContainer{
  background:white;
  width:80%;
  min-height:100vh;
  margin:auto;
}
@media (max-width:800px){
  .appContainer{
    width:100%;
  }
}
/* --APPLICATION NAV-- */
.appNav{
  
  color:White;
  width:100%;
  display:flex;
  flex-direction: row;
  
}
.appNav button{
  padding-top:2%;
  padding-bottom:2%;
  border:none;
  flex:2;
  border-right:1px solid lightcoral;
  transition:0.2s;
}

.appNav button:hover{
  /* this important is here to make hover takeover the element inbuild style which is white or lightcoral
  depending on variable state */
  background:lightcoral !important; 
  flex:3 !important;
  cursor:pointer;
}

.appNav button:nth-child(4){
  border:none;
}
@media (max-width:800px){
  .appNav img{
    width:30px;
  }
}
/* App content */
.appContent{
  padding-left:6%;
  background:white;
  width:80%;
  min-height:100vh;
  margin:auto;
}
.appContent h1{
  float:left; 
  min-width:50%;
  padding-top:2%;
}
.appContent h5{
  font-weight:400;
  float:left;
  min-width:50%;
  margin-bottom:10%;
  text-align:left;
  margin-left:0.5%;
}
.appContent h3{
  width:50%;
  font-weight:400;
  float:unset;
  text-align:left;

}
.appContent img{
  float:right;
  margin-right:5%;
  margin-top:4%;
}
.appContent .tasksContainer{
  width:100%;
  min-height:10rem;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size:30px;
  overflow:scroll;
  
}
.appContent .tasksContainer .activeTasks{
  height:8rem;
  flex:3;
  background:lightcoral;
  margin:1%;
  transition:0.1s;
  border-radius:15px;
  color:white;
  text-align:left;
  padding:1%;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.5);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.5);
}
.appContent .tasksContainer .activeTasks:hover{
  transform:scale(110%);
  cursor:pointer;
  background:#ff6363;
}
.appContent .tasksContainer .newTask{
  background:grey;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

}
.appContent .tasksContainer .newTask p{
  font-size:1.5rem;

}
.appContent .tasksContainer .newTask .circle{
  background:#444444;
  width:3rem;
  height:3rem;
  border-radius:50%;
  text-align:center;
  transition:0.1s;
  align-items: center;
  justify-content: center;
  display:flex;
}
.appContent .tasksContainer .newTask:hover{
  background:#5f5f5f;
  transform:scale(110%);
  cursor:pointer;
}
.appContent .tasksContainer .newTask .circle:hover{
  background:#62666b;
  transform:scale(110%);

}
.appContent .tasksContainer .newTask .circle button{
  border:none;
  background:none;
  font-size:2rem;
  color:white;
  font-weight:100;
}
.appContent .tasksContainer .newTask .circle button:hover{
  cursor:pointer;
}
/* --ANIMATIONS-- */
@keyframes fadeInUp {
  100%{
    opacity:1;
    transform: translateY(0);

  }
}
